{{ if .IsPage }}
<span class="byline">{{ i18n "written_by" }} 
    <span class="author vcard"><a href="#" class="url fn n">{{ if .Params.authors }}{{ .Params.authors }}{{ else if .Site.Params.Author }}{{.Site.Params.Author}}{{ end }}</a></span>
</span>
{{ end }}
<span class="posted-on">{{ i18n "published" }} 
    <a href="#" rel="bookmark">
        <time class="entry-date published" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML }}">
            
            {{ .Scratch.Set "shortMonthFormat" (i18n "date_format") }}
            {{ range where (where $.Site.Data.i18n_months.i18n.month "index" (printf "%d" .Date.Month))  "lang" $.Site.Language.Lang  }}
                {{ $.Scratch.Set "shortMonthFormat" (i18n "date_format" .short) }}
            {{end}}
            
            {{ $dateFormat := $.Scratch.Get "shortMonthFormat" }}
            {{ dateFormat ($dateFormat) .Date }}
        </time>
    </a>
</span>
<span class="article-reading-time">
    {{.ReadingTime}} {{ i18n "min_read" }} 
</span>

