{{ partial "header.html" . }}

  {{ $posts := or .Site.Params.PostSummariesFrontPage 4 }}
  {{ range first $posts (where .Data.Pages "Type" "post") }}
      {{ .Render "summary"}}
  {{ end }}  

  <nav class="navigation posts-navigation nav-previous" role="navigation">
    <h2 class="screen-reader-text">{{ i18n "posts_navigation" }}</h2>
    <div class="nav-links">
        
        {{ range first 1 (where .Data.Pages "Type" "post") }}
        <a href="{{ .Site.BaseURL }}{{ .Section }}/">{{ i18n "all_articles" }}</a>
        {{ end }}
    </div>
  </nav>
{{ partial "footer.html" . }}